.card {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side {
        background-color: orangered;
        color: yellow;
        font-size:2rem;
        height: 50rem;
        transition: all 2s;
    }

    &:hover &__side{
        transform: rotateY(180deg);
        // background-color: blue;
    }
}